version: '3.7'
services:
#  bot1:
#    build: .
#    image: liujordan/discordbot:1.3.2
#    volumes:
#      - ./config.json:/app/config.json
#    environment:
#      DISCORDBOT_MODE: publisher
#  bot2:
#    build: .
#    image: liujordan/discordbot:1.3.2
#    volumes:
#      - ./config.json:/app/config.json
#    environment:
  #      DISCORDBOT_MODE: subscriber
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
  mongo:
    image: mongo
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
